<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    HHHHHH
    <div id="message">woshilaoda</div>
    <a href="javascript:startWebSocket();">开始</a>
    <a href="javascript:getMessage()">sssss</a>
</body>

<script>
    function startWebSocket() {
        // 初始化一个 WebSocket 对象
        var ws = new WebSocket("ws://192.168.1.34:8080/websocket/1");

        // 建立 web socket 连接成功触发事件
        ws.onopen = function () {
            // 使用 send() 方法发送数据
            console.log("数据发送中...");
        };

        // 接收服务端数据时触发事件
        ws.onmessage = function (evt) {
            console.log("数据已接收...");
            console.log(evt.data);
        };

        // 断开 web socket 连接成功触发事件
        ws.onclose = function () {
            console.log("连接已关闭...");
        };
    }
    
    function getMessage() {
        $.ajax({
            url:"/test/websocket",
            success:function (data) {
                alert(data);
            }
        });
    }

</script>
</html>